@font-face{
	font-family: font1;
	src: url("font1.ttf");
}

@font-face{
	font-family: font2;
	src: url("font2.ttf");
}

@font-face{
	font-family: font3;
	src: url("font3.ttf");
}

@font-face{
	font-family: font4;
	src: url("font4.otf");
}

@font-face{
	font-family: font5;
	src: url("font5.otf");
}










body{
	margin: 0;
	min-width: 630px;
}







#top-menu{
	position: fixed;
	color: #aaa;
	top: 0;
	left: 80px;
	height: 40px;
	z-index: 1010;
}

#top-menu a{
	text-decoration: none;
}


.top-menu-btn{
	position: relative;
	color: #aaa;
	display: inline-block;
	height: 20px;
	padding: 10px;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
	font-size: 26px;
	font-family: font5;
	border-left: solid transparent 2px; 
	border-right: solid transparent 2px;
}

.top-menu-btn:hover{
	background-color: rgba(16,16,16,0.8);
	color: #fff;
	border-left: solid 2px #aaa; 
	border-right: solid 2px #aaa; 
}


.top-menu a{
	text-decoration: none;
}


.tmb-submenu a{
	text-decoration: none;
}










.tmb-submenu{
	position: absolute;
	background-color: rgba(32,32,32,0.8);
	border-left: solid 2px #aaa; 
	border-right: solid 2px #aaa; 
	top: 40px;
	left: -1px;
	transform: translateY(-50%) scaleY(0);
	transition-duration: 200ms;
	transition-property: transform;
}


.top-menu-btn:hover .tmb-submenu{
	transform: translateY(0) scaleY(1);
}


.tmb-submenu-btn{
	width: 215px;
	font-size: 15px;
	color: #fff;
	height: 20px;
	padding: 10px;
	font-family: font3;
}



.tmb-submenu-btn:hover{
	background-color: rgba(16,16,16,0.8);
}









.top-menu-btn .text{
	color: #aaa;
}

.top-menu-btn:hover .text{
	color: #fff;
}


#top-menu-btn3 .tmb-submenu-btn{
	width: 170px;
}


#top-menu-btn2 .tmb-submenu-btn{
	width: 160px;
}

#top-menu-btn1 .tmb-submenu-btn{
	width: 150px;
}









#right-menu{
	position: fixed;
	right: 0;
	top: 80px;
	z-index: 1010;
}


#right-menu hr{
	border-color: #974;
	margin-left: 5px;
	margin-right: 5px;
}



.right-menu-btn{
	height: 40px;
	width: 40px;
	position: relative;
}










.romb{
	position: absolute;
	height: 20px;
	width: 20px;
	border: solid 2px #aaa;
	top: 50%;
	left: 50%;
	background-color: rgba(64,64,64,.7);
	transform: translate(-50%, -50%) rotate(45deg);
}


.h-romb{
	position: absolute;
	height: 15px;
	width: 15px;
	top: 50%;
	left: 50%;
	background-color: #aaa;
	transform: translate(-50%, -50%) rotate(45deg);
	opacity: 0;
	transition-duration: 200ms;
	transition-property: opacity;
	}


.right-menu-btn:hover .h-romb{
	opacity: 1;
}






.right-menu-btn-text{
	position: absolute;
	top: 0;
	padding:5px;
	height: 30px;
	right: 100%;
	color: white;
	font-size: 25px;
	text-align: right;
	min-width: 350px;
	transform: translateX(50%) scaleX(0);
	transition-duration: 200ms;
	transition-property: transform;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
}



#right-menu:hover .right-menu-btn-text{
	transform: translateX(0) scaleX(1);;
}










#ramka{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 999;
	min-width: 630px;
}

#ramka .line{
	position: absolute;
	background-color: rgba(153,119,68,0.8);
	box-shadow: 1px 1px 2px black, 0 0 1em red;
}

#ramka .hor-line{
	height: 2px;
	left: 80px;
	right: 80px;
}


#ramka .ver-line{
	width: 2px;
	top: 80px;
	bottom: 80px;
}


#ramka .top-line{
	top: 40px;
}


#ramka .down-line{
	bottom: 40px;
}


#ramka .left-line{
	left: 40px;
}


#ramka .right-line{
	right: 40px;
}


#ramka img{
	position: absolute;
	height: 80px;
	width: 80px;
	box-shadow: 1px 1px 2px black, 0 0 1em darkred;
}

#ramka .left{
	left: 0;
}

#ramka .right{
	right: 0;
}

#ramka .top{
	top: 0;
}

#ramka .bottom{
	bottom: 0;
}










.box{
	position: relative;
	overflow-y: hidden;
	left: 0;
	right: 0;
}



.box-img{
	width: 100%;
}




#box1-title{
	position: absolute;
	top: 50%;
	left: 820px;
	transform: translate(-50%,-50%);
	font-size: 30px;
	color: #fff;
	font-family: font3;
	z-index: 1000;
	text-shadow: 1px 1px 2px black;
}


.box-title b{
	font-size: 50px;
	z-index: 1000;
	font-family: font3;
}









.special-btn{
	background-image: linear-gradient(120deg, rgba(125,21,21,0.9) 40%, rgba(82,11,11,0.9) 70%, rgba(125,21,21,0.9) 100%);
	box-shadow: 1px 1px 2px black, 0 0 1em darkred;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
	padding: 15px;
	background-color: #000;
	padding-left: 40px;
	padding-right: 40px;
	display: inline-block;
	color: #fff;
	font-family: font5;
	transition-duration: 200ms;
	transition-property: background-color;
}

.special-btn:hover{
	background-color: #aaa;
}







#box2-title{
	position: absolute;
	z-index: 1000;
}





#box3-title{
	position: absolute;
	max-width: 500px;
	top: 50%;
	left: 70%;
	transform: translate(-50%,-50%);
	text-shadow: 1px 1px 2px black, 0 0 1em darkred;
	font-size: 25px;
	color: #aaa;
	font-family: font3;
	z-index: 1000;
}

#box3-title a{
	text-decoration: none;
	color: #974;
	text-shadow: 1px 1px 2px black,0 0 1em white;
}









#box4-title{
	position: absolute;
	max-width: 500px;
	top: 50%;
	left: 70%;
	transform: translate(-50%,-50%);
	text-shadow: 1px 1px 2px black, 0 0 1em darkred;
	font-size: 25px;
	color: #aaa;
	font-family: font3;
	z-index: 1000;
}

.cell-text{
	position: absolute;
	color: #fff;
	text-shadow: 1px 1px 2px black, 0 0 1em darkred;
	bottom: 10px;
}


#box4-title th img{
	width: 250px;
}

#box4-title th{
	position: relative;
}

#box4-title table{
	left: 0;
	right: 0;
	margin: auto;
	position: relative;
}








#box5-title{
	position: absolute;
	max-width: 500px;
	top: 50%;
	left: 80%;
	transform: translate(-50%,-50%);
	text-shadow: 1px 1px 2px black, 0 0 1em darkred;
	font-size: 25px;
	color: #aaa;
	font-family: font3;
	z-index: 1000;
}

#gallery-elements video{
	width: 100%;
}

#gallery-elements{
	position: relative;
	display: inline-block;
	vertical-align: center;
	overflow: hidden;
	width: 100%;
}

#text-elements{
 	position: relative;
	display: inline-block;
	font-size: 30px;
	padding: 100px;
	vertical-align: center;
	max-width: 30%;
	text-align: right;
}



#text-elements .name{
	font-size: 50px;
	font-family: font5;
	padding-bottom: 10px;
}


#text-elements .text{
	padding-top: 10px;
	font-size: 40px;
	font-family: font3;
}


#text-elements .element{
	margin-bottom: 50px;
}


#text-elements hr{
	border-color: #974;
}












#footer{
	background-color: #111;
	font-size: 30px;
	text-align: center;
}


#footer a{
	color: #aaa;
	margin-right: 50px;
	position: relative;
	z-index: 1000;
	text-decoration: none;
}







.middle{
	height: 5px;
	width: 100%;
	background: linear-gradient(to right, #974, #984, #974);
	margin-top: -5px;
}






@media(max-width:2200px;){
	#text-elements .name{
		font-size: 45px;
	}
	#text-elements .text{
		font-size: 30px;
	}
}

@media(max-width: 1668px){
	#text-elements{
		display: none;
	}
}

@media(max-width: 1024px){
	#box4-title p{
		display: none;
	}
}


@media(max-width: 1024px){
	#box4-title-img{
		display: none;
	}
	#box4-title hr{
		display: none;
	}
}








#right-menu-btn-a audio{
	height: 30px;
}