@font-face{
	font-family: font1;
	src: url("font1.ttf");
}

@font-face{
	font-family: font2;
	src: url("font2.ttf");
}

@font-face{
	font-family: font3;
	src: url("font3.ttf");
}

@font-face{
	font-family: font4;
	src: url("font4.otf");
}

@font-face{
	font-family: font5;
	src: url("font5.otf");
}
@font-face{
	font-family: font6;
	src: url("6.ttf");
}
@font-face{
	font-family: font7;
	src: url("7.ttf");
}










body{
	margin: 0;
	min-width: 630px;
	background-color: #000;
}


.color{
	color: #F29C11;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
}

#back-btn1{
	position: absolute;
	height: 70px;
	width: 70px;
	top: 2px;
	right: 2px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 50%;
	border: solid 3px #F24E11;
}

#back-btn2{
	position: absolute;
	height: 70px;
	width: 70px;
	top: 2px;
	right: 2px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 50%;
	border: solid 3px #F24E11;
}

#back-btn3{
	position: absolute;
	height: 70px;
	width: 70px;
	top: 2px;
	right: 2px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 50%;
	border: solid 3px #F24E11;
}


.triangle-right{
	background-color: #F24E11;
	height: 40px;
	width: 30px;
	position: absolute;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	-webkit-clip-path: polygon(
		0% 0%,
		0% 100%,
		100% 50%
		);

}



#top-menu{
	position: fixed;
	color: #aaa;
	top: 0;
	left: 80px;
	height: 40px;
	z-index: 1010;
}

#top-menu a{
	text-decoration: none;
}


.top-menu-btn{
	position: relative;
	color: #aaa;
	display: inline-block;
	height: 20px;
	padding: 10px;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
	font-size: 26px;
	font-family: font7;
	border-left: solid transparent 2px; 
	border-right: solid transparent 2px;
}

.top-menu-btn:hover{
	background-color: rgba(16,16,16,0.8);
	color: #fff;
	border-left: solid 2px #aaa; 
	border-right: solid 2px #aaa; 
}


.top-menu a{
	text-decoration: none;
}


.tmb-submenu a{
	text-decoration: none;
}










.tmb-submenu{
	position: absolute;
	background-color: rgba(32,32,32,0.8);
	border-left: solid 2px #aaa; 
	border-right: solid 2px #aaa; 
	top: 40px;
	left: -1px;
	transform: translateY(-50%) scaleY(0);
	transition-duration: 200ms;
	transition-property: transform;
}

.tmb-submenu a{
	text-decoration: none;
}

.top-menu-btn:hover .tmb-submenu{
	transform: translateY(0) scaleY(1);
}


.tmb-submenu-btn{
	width: 215px;
	font-size: 15px;
	color: #fff;
	height: 20px;
	padding: 10px;
	font-family: font3;
}



.tmb-submenu-btn:hover{
	background-color: rgba(16,16,16,0.8);
}









.top-menu-btn .text{
	color: #aaa;
}

.top-menu-btn:hover .text{
	color: #fff;
}


#top-menu-btn3 .tmb-submenu-btn{
	width: 170px;
}


#top-menu-btn2 .tmb-submenu-btn{
	width: 160px;
}

#top-menu-btn1 .tmb-submenu-btn{
	width: 175px;
}









#right-menu{
	position: fixed;
	right: 0;
	top: 80px;
	z-index: 1010;
}


#right-menu hr{
	border-color: #974;
	margin-left: 5px;
	margin-right: 5px;
}



.right-menu-btn{
	height: 40px;
	width: 40px;
	position: relative;
}










.romb{
	position: absolute;
	height: 20px;
	width: 20px;
	border: solid 2px #aaa;
	top: 50%;
	left: 50%;
	background-color: rgba(64,64,64,.7);
	transform: translate(-50%, -50%) rotate(45deg);
}


.h-romb{
	position: absolute;
	height: 15px;
	width: 15px;
	top: 50%;
	left: 50%;
	background-color: #aaa;
	transform: translate(-50%, -50%) rotate(45deg);
	opacity: 0;
	transition-duration: 200ms;
	transition-property: opacity;
	}


.right-menu-btn:hover .h-romb{
	opacity: 1;
}






.right-menu-btn-text{
	position: absolute;
	top: 0;
	padding:5px;
	height: 30px;
	right: 100%;
	color: white;
	font-size: 25px;
	text-align: right;
	min-width: 400px;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
	font-family: font7;
	transform: translateX(50%) scaleX(0);
	transition-duration: 200ms;
	transition-property: transform;

}



#right-menu:hover .right-menu-btn-text{
	transform: translateX(0) scaleX(1);;
}










#ramka{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 999;
	pointer-events: none;
}

#ramka .line{
	position: absolute;
	background-color: rgba(153,119,68,0.8);
	box-shadow: 1px 1px 2px black, 0 0 2em red;
}

#ramka .hor-line{
	height: 2px;
	left: 80px;
	right: 80px;
}


#ramka .ver-line{
	width: 2px;
	top: 80px;
	bottom: 80px;
}


#ramka .top-line{
	top: 40px;
}


#ramka .down-line{
	bottom: 40px;
}


#ramka .left-line{
	left: 40px;
}


#ramka .right-line{
	right: 40px;
}


#ramka img{
	position: absolute;
	height: 80px;
	width: 80px;

}

#ramka .left{
	left: 0;
}

#ramka .right{
	right: 0;
}

#ramka .top{
	top: 0;
}

#ramka .bottom{
	bottom: 0;
}










.box{
	position: relative;
	overflow-y: hidden;
	left: 0;
	right: 0;
}



.box-img{
	width: 100%;
}




#box1-title{
	position: absolute;
	top: 50%;
	left: 820px;
	transform: translate(-50%,-50%);
	font-size: 30px;
	color: #fff;
	z-index: 1000;
	text-shadow: 1px 1px 2px black, 0 0 1em darkred;
	font-family: font3;
}


.box-title b{
	font-size: 50px;
	z-index: 1000;
	font-family: font6;
}



#container{
	text-align: left;
}





 a.button {
    font-family: Helvetica, arial, serif;
    color:#fff;
    text-align:center;
    font-size:30px;
    cursor: pointer;
    text-decoration: none;
    padding:10px;
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
      inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
      inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
      inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
      inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
  }

  a.button:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
  }





#box2-title{
	position: absolute;
	z-index: 1000;
}

#gallery-elements{
	width: 100%;
}





#box3-title{
	position: absolute;
	top: 40px;
	left: 200px;
	right: 200px;
	text-align: center;
	text-shadow: 1px 1px 2px black, 0 0 1em darkred;
	font-size: 25px;
	color: #aaa;
	font-family: font7;
	z-index: 1000;
}

#box3-title a{
	text-decoration: none;
	color: #974;
	text-shadow: 1px 1px 2px black,0 0 1em white;
}

.line-btn{
	border-bottom: solid 0 #d5d3f2;
	transition-duration: 200ms; 
	transition-property: border-bottom padding-bottom;
}

.line-btn:hover{
	border-bottom: solid 1px #974;
	padding-bottom: 4px;
	color: #a19f9f;
}

.top-menu-el{
	display: inline-block;
	overflow: hidden;
	height: 40px;
	padding: 10px;
	font-size: 25px;
	color: #c2c0c0;
}











	
	
#box4-title{
	position: absolute;
	top: 40px;
	left: 100px;
	right: 65%;
	text-align: left;
	text-shadow: 1px 1px 2px black, 0 0 1em darkred;
	font-size: 25px;
	color: #aaa;
	font-family: font3;
	z-index: 1000;
}

.cell-text{
	position: absolute;
	color: #fff;
	text-shadow: 1px 1px 2px black, 0 0 1em darkred;
	top: 10px;
	left: 30px;
}


#box4-title th img{
	width: 250px;
	border-radius: 10px;
	box-shadow: 1px 1px 2px black, 0 0 0.5em darkred;
}

#box4-title th{
	position: relative;
}

#box4-title table{
	margin: auto;
	position: relative;
}

#right-table{
	position: absolute;
	left: 180%;
	top: 40%;
}


a.button-right-table{
    font-family: Helvetica, arial, serif;
    color:#fff;
    text-align:center;
    font-size:15px;
    cursor: pointer;
    text-decoration: none;
    padding:5px;
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
      inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
      inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
      inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
      inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
  }

  a.button-right-table:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
  }


  #btn-cont{
  	position: relative;
  	text-align: center;
  }



#back-btn4{
	position: absolute;
	height: 70px;
	width: 70px;
	top: 500px;
	right: 40px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 50%;
	border: solid 3px #F24E11;
}

#back-btn5{
	position: absolute;
	height: 70px;
	width: 70px;
	top: 500px;
	right: 40px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 50%;
	border: solid 3px #F24E11;
}

#back-btn6{
	position: absolute;
	height: 70px;
	width: 70px;
	top: 500px;
	right: 40px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 50%;
	border: solid 3px #F24E11;
}

#back-btn7{
	position: absolute;
	height: 70px;
	width: 70px;
	top: 500px;
	right: 40px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 50%;
	border: solid 3px #F24E11;
}






#box5-title{
	position: absolute;
	top: 50%;
	left: 37%;
	transform: translate(-50%,-50%);
	text-shadow: 1px 1px 2px black, 0 0 1em darkred;
	font-size: 25px;
	color: #aaa;
	font-family: font5;
	z-index: 1000;
}


a.btn-box5 {
    font-family: font6;
    color:#fff;
    text-align:center;
    font-size:30px;
    cursor: pointer;
    text-decoration: none;
    padding:10px;
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
      inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
      inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
      inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
      inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
  }

  a.btn-box5:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
  }





#box6-title{
	position: absolute;
	top: 40px;
	left: 200px;
	right: 200px;
	text-shadow: 1px 1px 2px black, 0 0 1em darkred;
	color: #aaa;
	z-index: 100;
	font-family: font3;
}

#box6-title i{
	color: #e4971e;
	text-shadow: 1px 1px 2px black, 0 0 1em orange;
}


.somebody{
	top: 0;
	position: absolute;
	left: 30%;
	font-size: 35px;
	font-family: font3;
	color: #e4971e;
}


#name{
	top: 100px;
	position: absolute;
	left: 40px;
	font-size: 25px;
	font-family: font3;
	color: #e4971e;

}
#name2{
	top: 320px;
	position: absolute;
	right: 250px;
	font-size: 25px;
	font-family: font3;
	color: #e4971e;

}



#text3{
	top: 150px;
	position: absolute;
	left: 20px;
	max-width: 500px;
	font-size: 25px;
	font-family: font3;
}

#text2{
	top: 370px;
	position: absolute;
	right: 20px;
	max-width: 500px;
	font-size: 25px;
	font-family: font3;

}

.middle{
	height: 5px;
	width: 100%;
	background: linear-gradient(to right, #974, #984, #974);
	margin-top: -5px;
}





@media(max-width:2200px;){
	.tmb-submenu-btn{
		font-size: 15px;
	}
	#text-elements .text{
		font-size: 30px;
	}
}

@media(max-width: 1668px){
	#text-elements{
		display: none;
	}
}

@media(max-width: 1024px){
	#box4-title p{
		display: none;
	}
}


@media(max-width: 1024px){
	#box4-title-img{
		display: none;
	}
	#box4-title hr{
		display: none;
	}
}








#right-menu-btn-a audio{
	height: 30px;
}








my__link_big,.my__link {
    color:#525252;
    font-size:14.4px;
}
 
.footer_main {
    margin-top:10px;
    background-color:#7e7e7e;
	background:url("bg.jpg");
	font-family: 'Scada', sans-serif;	
}
 
.footer {
    width:1000px;
    margin:0 auto;
}
 
.clear_footer,.b-footer__social,.bem_sitemap {
    margin-top:12px;
    margin-left:18px;
    padding-left:26px;
    float:left;	
}
 
.logo_align {
	float:right;
}
 
.size_block {
    width: 150px;
}
 
.description {
    width:295px;
}
 
.tet_header,.footer-title,.b-networks__header {
    text-shadow: 0 1px 3px rgba(0,0,0,0.3);
	color: #C5C5C5;
	border-color: rgba(0,91,173,.3);
    font-size:17px;
    width:100%;
	letter-spacing: 1px;
}
 
.btext {
    margin-top:3px;
    font-size:14.6px;
    color:#f5f5f5;
	list-style-type: none;
}
 
.clear_footer {
    height:23px;
}
 
.b-sitemap__links {
    float:left;
}
 
.glow_undecorate {
	color: #ffffff;
	text-shadow: 2px 2px 10px #5ab3f7, -4px 2px 14px #2784d3;
}
 
.b-link_block {
    margin-top:12px;
    display:block;
}
 
.b-sitemap__links_right {
    float:right;
    margin-right:-10px;
    letter-spacing: 1px;
}
 
.b-footer-logo__copyright {
    clear:right;
	text-shadow: 0 0 20px #ff6632, 0 0 30px #ff6632;
	color: #ffb762 !important;
	padding-top:8px;
}
 
.b-footer-logo__copyright {
    font-size:21px;
    color:#f5f5f5;
    text-align:right;
}


#footer-img{
	position: relative;
	width: 300px;
	right: 0;
}